# connecting sql to jupyter notebook

In [27]:
import pymysql

In [35]:
x=pymysql.connect(host='localhost',user='root',password='Password@123',database='project1')
cr=x.cursor()

In [40]:
cr.execute('create table data3(name char(50),age int(5))')
cr.execute('insert into data5(name ,age) values("vikram",45)')
cr.execute('insert into data5(name ,age) values("siva",35)')

1

In [1]:
#cr.execute('insert into data5(id,name,mob,dept) values(110,"saimohan",0000,99)')